.product-detail-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.product-div {
    border: 1px solid black;
    padding: 20px;
    margin-top: 70px;
    display: flex;
    width: 59%;
}


.product-div .product-image {
    max-width:  50%;
    flex: 1;
}

.img{
    width: 80%;
}

.product-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;

}

.product-details h2 {
    border: 1px solid black;
    width: fit-content;
    padding: 5px;
    border-radius: 15px;
    color: rgb(237, 78, 78);
    background-color: rgb(219, 218, 218);
}