.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    position: relative;
    margin: 60px;
    gap: 20px;
}

.products-loading{
    justify-content: center;
    display: flex;
    /* margin: ; */
}

.product{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 250px;
    height: 250px;
    cursor: pointer;
    padding: 10px;
    border: 1px solid gray;
    overflow: hidden;
}

.product-img{
    width: 40%;
    align-items: center;
}

.product h6 p {
    width: fit-content;
    text-decoration: none;
    color: #6c6767;
}

.detals-part{
    display: flex;
    flex-direction: column;
    justify-content:start;
    width: 90%;
}
